header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 11;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 70px;

  @media (max-width: 992px) {
    justify-content: start;
  }

  &__logo {
    max-width: 110px;
    cursor: pointer;
  }

  &__menu {
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
    max-width: 400px;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    z-index: 10;
    text-align: center;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.1);
    animation: fadeRight 0.2s ease;
    z-index: 99;

    @keyframes fadeRight {
      0% {
        right: -100%;
      }
      100% {
        right: 0;
      }
    }

    &-close {
      position: absolute;
      left: 20px;
      top: 20px;
      cursor: pointer;
    }
  }

  &__item {
    font-size: 14px;
    font-size: 17px;
    padding: 5px 0;
    cursor: pointer;

    &:hover {
      color: #0288d1;
      transition: 0.2s linear;
    }
  }

  &__cart {
    position: relative;
    cursor: pointer;
    margin-right: 16px;

    &-bagde {
      position: absolute;
      top: -40%;
      right: -30%;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background: #f50057;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      border-radius: 999px;
    }
  }

  &__search {
    cursor: pointer;
    margin: 0 15px;
    padding: 4px;
    margin-left: auto;

    @media (max-width: 992px) {
      margin-left: auto;
    }
  }

  &__menuIcon {
    display: block;
    margin-left: 15px;
    cursor: pointer;
    z-index: 50;
  }

  &__btn {
    .btn {
      width: max-content;
    }
  }
}
